<?xml version="1.0" ?>
<launch>
  <param name="/use_sim_time" value="true" />

  <node name="assembly_dummy_controller" pkg="assembly_dummy_controller" type="assembly_dummy_controller" output="screen" >  
  </node>

  <!--<node name="social_task_manager" pkg="social_task_manager" type="social_demo.py" output="screen" >  
  </node>-->
  
  <!-- <node name="social_task_manager" pkg="social_task_manager" type="social_demo2.py" output="screen" >  
  </node> -->

  <!-- <node name="social_task_manager" pkg="social_task_manager" type="social_demo3.py" output="screen" >  
  </node> -->

</launch>
